SECRET_KEY=tu_secret_key_super_segura_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=languageapi_db
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432

TEST_DB_NAME=languageapi_test_db
CORS_ALLOW_ALL_ORIGINS=True
