{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}

{% block content %}
<div id="content-main">
    <h1>Enviar correo personalizado</h1>
    <p>Estás enviando un correo a {{ users|length }} usuarios seleccionados:</p>
    <ul>
        {% for user in users %}
            <li>{{ user.email }} ({{ user.username }})</li>
        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        <div class="module">
            <table style="width: 100%;">
                {{ form.as_table }}
            </table>
        </div>
        
        {% for user in users %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ user.pk }}" />
        {% endfor %}
        <input type="hidden" name="action" value="send_custom_email_action" />
        <input type="hidden" name="apply" value="True" />
        
        <div class="submit-row">
            <input type="submit" value="Enviar correos" class="default" />
            <a href="." class="button cancel-link">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
